.App {
  width: 100%;
  box-sizing: border-box;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px 0;
}

.editor {
  width: 600px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px 1px black;
}

.editor__title {
  width: 100%;
  background-color: #4aa3a3;
  border: 1px solid black;
  padding: 5px 0;
  margin: 0 0;
}

textarea {
  background-color: #c0d8d8;
  border: 1px solid black;
  width: 100%;
}

.preview__wrap {
  margin: 50px;
  width: 600px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px 1px black;
}

.preview {
  width: 100%;
  overflow: hidden;
}